In [5]:
import pandas as pd

# Load simulated price-revenue data
df_sim = pd.read_csv('../data/price_simulation_results.csv')
df_sim.head()

  StockCode  PriceFactor  SimulatedPrice  SimulatedQuantity  SimulatedRevenue
0     10125         0.80        0.622667                 15          9.340000
1     10125         0.82        0.638233                 14          8.935267
2     10125         0.84        0.653800                 14          9.153200
3     10125         0.86        0.669367                 14          9.371133
4     10125         0.88        0.684933                 14          9.589067

In [6]:
# Get the row with maximum revenue for each StockCode
df_optimal_price = df_sim.loc[df_sim.groupby('StockCode')['SimulatedRevenue'].idxmax()].reset_index(drop=True)

# Optional: Sort and preview
df_optimal_price = df_optimal_price.sort_values(by='SimulatedRevenue', ascending=False)
df_optimal_price.head()

,StockCode,PriceFactor,SimulatedPrice,SimulatedQuantity,SimulatedRevenue
2092,84805B,0.8,1.666667,67,111.666667
337,21398,0.8,0.535347,208,111.352163
2307,90146,0.8,5.000000,20,100.000000
1546,23240,0.8,3.320000,30,99.600000
2106,84857C,0.8,2.308571,43,99.268571

In [7]:
df_optimal_price.to_csv('../data/optimal_price_table.csv', index=False)

Optimal Price Selection Summary

We used the simulated demand and revenue data  to determine the best price point for each product.

For every `StockCode`, we selected the price that resulted in the maximum revenue. This gives us a practical, data-driven pricing strategy tailored for each item.

This table will now be used in our business summary and the Streamlit dashboard for actionable insights.